<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light lighten-1" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">
      <img src="login150.png" alt=""> &nbsp;Budgeter</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <button class="btn btn-outline-success my-2 my-sm-0" type="link" routerLink="" routerLinkActive="active">Login</button>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>
    
    <body>
      <div class="jumbotron text-center">
        <h1>Budgeter</h1>
        <p>Slogan</p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <h2>About Us</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Etiam erat velit scelerisque in dictum. Lorem sed risus ultricies tristique nulla aliquet enim tortor at. Egestas erat imperdiet 
                sed euismod nisi porta lorem. Lorem donec massa sapien faucibus et. Morbi non arcu risus quis varius quam quisque id diam. 
                At consectetur lorem donec massa. Ultrices tincidunt arcu non sodales neque sodales ut etiam. Lacus luctus accumsan tortor 
                posuere ac ut consequat semper viverra. Sapien faucibus et molestie ac feugiat sed lectus vestibulum. A diam sollicitudin 
                tempor id eu. Proin nibh nisl condimentum id venenatis a condimentum.
            </p>
          </div>
          <div class="col-sm-4">
            <span class="image1"></span>
          </div>
        </div>
      </div>
      
      <div class="container-fluid bg-grey">
        <div class="row">
          <div class="col-sm-4">
            <span class="image2"></span>
          </div>
          <div class="col-sm-8">
            <h2>Our Goals</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Etiam erat velit scelerisque in dictum. Lorem sed risus ultricies tristique nulla aliquet enim tortor at. Egestas erat imperdiet 
                sed euismod nisi porta lorem. Lorem donec massa sapien faucibus et. Morbi non arcu risus quis varius quam quisque id diam. 
                At consectetur lorem donec massa. Ultrices tincidunt arcu non sodales neque sodales ut etiam. Lacus luctus accumsan tortor 
                posuere ac ut consequat semper viverra. Sapien faucibus et molestie ac feugiat sed lectus vestibulum. A diam sollicitudin 
                tempor id eu. Proin nibh nisl condimentum id venenatis a condimentum.
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid text-center">
        <h2>Key Features</h2>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-off"></span>
            <h4>Feature 1</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart"></span>
            <h4>Feature 2</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock"></span>
            <h4>Feature 3</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          </div>
          <br><br>
      </div>
    </body>