                <header></header>     
                        <br>
                        <br>
                        <mat-tab-group mat-align-tabs="center">   
                                <mat-tab label="User Settings" id="title"> 
                                    <div class="row animate__animated animate__fadeIn">
                                        <div class="form-group col-md-7">
                                            <body>
                                        <div class="container">
                                        <div class="row">
                                            <div class="col-lg-10 col-xl-9 mx-auto">
                                            <div class="card card-signin flex-row my-5">
                                                <div class="card-img-left d-none d-md-flex">
                                                <!-- Background image for card set in CSS! -->
                                                </div>
                                                <div class="card-body" style="    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);">
                                            
                                                <h2 class="headercen">Settings</h2>
                                                <div>
                                                    <form [formGroup]="userForm" (ngSubmit)="updatePassword()" class="form-signin" ngNativeValidate>
                                    
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                        <input type="text" class="form-control" formControlName="first_name" id="first_name" readonly>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                        <input type="text" class="form-control" formControlName="last_name" id="last_name" readonly>
                                                        </div>
                                                        <hr>
                                                    </div>
                                                
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" formControlName="email" id="email" readonly>
                                                    </div>
                                        
                                                    <hr>
                                                    <div class="form-row">              
                                                        <div class="form-group col-md-6">
                                                        <input type="password" id="password" class="form-control" formControlName="password" placeholder="New Password" minlength="5" >
                                                        </div>
                                        
                                                        <div class="form-group col-md-6">
                                                        <input type="password" id="password_confirm" class="form-control" formControlName="password_confirm" placeholder="Confirm Password" minlength="5" >
                                                        </div>    
                                                    </div>
                                                    
                                                    <div class="alert alert-info text-center" *ngIf="passchange" role="alert">Password Updated.</div>
                                                    <div class="alert alert-danger alert-dismissible fade show"  *ngIf="!passwordCheck()&&submitted" role="alert">
                                                        <div class="row">
                                                          Passwords do not match
                                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                      </div>

                                                    <div>
                                                        <h2 class="headerleft1">Notifications</h2>
                                                        <mat-radio-group class="vertical-radio-group">
                                                            <mat-radio-button value="1">Receive daily updates on your budget</mat-radio-button>
                                                            <mat-radio-button value="2">Receive weekly updates on your budget</mat-radio-button>
                                                            <mat-radio-button value="3">Receive monthly updates on your budget</mat-radio-button>
                                                            <mat-radio-button value="4" checked="true">Receive no updates on your budget</mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                        
                                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Save Changes</button>
                                                    </form>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                            </body>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-10 col-xl-9 mx-auto">
                                                    <div class="card card-signin flex-row my-5">
                                                        <div class="card-img-left d-none d-md-flex">
                                                        <!-- Background image for card set in CSS! -->
                                                        </div>
                                                        <div class="card-body" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);">
                                                        <h2 class="headercen">Profile Picture</h2>
                                                        <div class="ppimage" style="background-image: url({{imgURL}});"></div>

                                                        <input #file hidden="true" type="file" accept='image/*' (change)="preview(file.files)"/> 
                                                        <button class="btn btn-lg btn-primary btn-block text-uppercase bspace" (click)="file.click()">Update</button>
                                                        <div class="alert alert-info text-center" *ngIf="newPP" role="alert">Profile Picture Updated.</div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Profile Information"> 
                                    <body>
                                        <div class="container">
                                        <div class="row animate__animated animate__animated animate__fadeIn" >
                                            <div class="col-lg-10 col-xl-9 mx-auto">
                                            <div class="card card-signin flex-row my-5">
                                                <div class="card-img-left d-none d-md-flex">
                                                <!-- Background image for card set in CSS! -->
                                                </div>
                                                <div class="card-body" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);">
                                                <h2 class="headercen">About You</h2>
                                                <form [formGroup]="aboutForm" (ngSubmit)="updateAboutYou()" class="form-signin">
                                    
                                                <div class="form-group">
                                                    <h2 class="headerleft2">What is your monthly budget?</h2>
                                                    <mat-form-field>
                                                        <mat-label>Monthly Budget</mat-label>
                                                        <input matInput class="form-control" formControlName="budget">
                                                      </mat-form-field>
                                                      <h2 class="headerleft2">What is your monthly expenses?</h2>
                                                      <mat-form-field>
                                                          <mat-label>Monthly Expenses</mat-label>
                                                          <input matInput class="form-control" formControlName="expenses">
                                                        </mat-form-field>
                                                        <h2 class="headerleft2">What is your monthly savings?</h2>
                                                        <mat-form-field>
                                                            <mat-label>Monthly Savings</mat-label>
                                                            <input matInput class="form-control" formControlName="savings">
                                                          </mat-form-field>
                                                </div>
                                    
                                                <button class="btn btn-lg btn-primary btn-block text-uppercase bspace" type="submit">Save Changes</button>
                                                <div class="alert alert-info text-center" *ngIf="aychange" role="alert">Changes Saved.</div>
                                                </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </body>
                                </mat-tab>
                            </mat-tab-group>
                <Footer></Footer>            
