.example-container {
    overflow: hidden;
    height: 400px;
    width: 100%;
  }
  
  .example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }

  table {
    position: relative;
    min-height: 200px;
    overflow: auto;
    max-height: 320px;
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }

  .list-group-item span{
    margin-right: 2em;
  }


  /* The container */
.capitalize {
  text-transform: capitalize;
}
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .todos-complete {
    text-decoration: line-through;
  }

  .example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .padding-0{
    padding-right:0;
    padding-left:0;
}