<section class="inputarea">
        <form name="formTodos" action="" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm" style="display: flex;">
                  <mat-form-field class="example-form-field" style="width:90% !important">
                    <mat-label>Financial Goal</mat-label>
                    <input matInput type="text" id="workTodo" name="workTodo" [(ngModel)]="workTodo" (keyup.escape)="cancelEdit()" autofocus>
                  </mat-form-field>
                  <button mat-raised-button color="primary" style="height: 50%;" (click)="addEditTodo()" (keyup.enter)="addEditTodo()" type="submit">{{inEditMode==false?"ADD":"Update&nbsp;"}}</button>
                  <button mat-raised-button *ngIf="inEditMode==true" color="warn" style="height: 50%;" (click)="cancelEdit()" type="button">Cancel&nbsp;</button>
                </div>
            </div>
        </form>
</section>
<br />
<section class="listarea">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group list-group-flush" *ngIf="todos.length > 0" >
                    <li class="list-group-item" *ngFor="let todo of todos; let i=index" [class.completed]="todo.isCompleted">
                            <div class="pull-left">
                                <label class="container capitalize" style="font-size: 0.9rem;" [ngClass]="{'todos-complete': todo.isCompleted}">
                                   <mat-checkbox class="example-margin" (change)="markAsCompleted(todo, $event)" [checked]="todo.isCompleted" [(ngModel)]="todo.isCompleted">
                                     &nbsp;{{todo.workTodo}}
                                    </mat-checkbox>
                                </label>
                            </div>
                            <div class="pull-right">
                                    <button class="btn btn-primary btn-sm fa fa-pencil" (click)="editTodo(todo)"></button> &nbsp;
                                    <button class="btn btn-danger btn-sm fa fa-trash-o" (click)="deleteTodo(todo,i)"></button>
                            </div>
                    </li>
                      
                </ul>
            </div>
        </div>
</section>



