<!-- <p>
  <mat-toolbar>
    <mat-toolbar-row>
      <h1>Budgeter</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/budget'"> Budget </a>
        <a mat-button [routerLink]="'/expenses'"> Expenses </a>
        <a mat-button [routerLink]="'/savings'"> Savings </a>
        <a mat-button [routerLink]="'/user/:uid/settings'"> Settings </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
 -->

<!--Navbar-->
<mdb-navbar id="navbarfixed" SideClass="navbar navbar-expand-lg fixed navbar-dark indigo" [containerInside]="false">

  <!-- Navbar brand -->
   <mdb-navbar-brand><a style="color:white ;"class="navbar-brand hvr-bob" [routerLink]="['/user', uid]" href="#">
     &nbsp;<strong>Budgeter</strong><img src="login150.png" alt=""></a></mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active" id="tabs">
        <a class="nav-link" href="#">Budget
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" id="tabs">
        <a class="nav-link" href="#">Expenses</a>
      </li>
      <li class="nav-item" id="tabs">
        <a class="nav-link" href="#">Savings</a>
        
      </li>
    </ul> -->
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <button class="btn btn-outline-light my-2 my-sm-0" (click)="openDialog()">+ Add to Budget</button>
        </li>

        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="./amongus.svg" style="height: 35px;width: 35px;color: white;">
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <h6 style="text-align: center;">{{fname + " " + lname}}</h6>
            <hr>
            <a class="dropdown-item waves-light" mat-button [routerLink]="['settings']"  mdbWavesEffect>Settings</a>
            <a class="dropdown-item waves-light" mat-button [routerLink]="'/'" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>
  
        
      </ul>
    <!-- Links -->

  
  </links>
  <!-- Collapsible content -->

</mdb-navbar>