.card-header {
    border-bottom: none;
}
.card-category {
    font-size: 1.3rem;
}

.card{
    
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.border-left-primary {
    border-left: .45rem solid #4e73df;
}

.border-left-success {
    border-left: .45rem solid #1cc88a;
}

.border-left-warning {
    border-left: .45rem solid #f6c23e;
}

.border-left-danger {
    border-left: .45rem solid #e74a3b;
}

.mat-tab-label {
    margin-top: 10px;
    padding: 15px;
    color:#4e73df;
}

h2 {
    color: #4e73df;
    padding: 10px;
}

.main-content , .plotting{
    background-color: #F4F5F8;
}

.mat-tab-list {
    background-color: white;
}

.card-category{
    font-size: 17px;
}