<header></header>
<div class="main-content">
	
	<div class="container-fluid" style="margin-bottom:-38px">
		<h4 style="color: #5A5C69;">&nbsp;</h4>
		<div class="row" style="padding-top: 1px;">
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
				  <div class="card-body">
					<div class="row no-gutters align-items-center">
					  <div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1" id="header">Total Budget</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800"  id="number">$5,000</div>
					  </div>
					  <div class="col-auto">
						<i class="fas fa-wallet fa-2x text-gray-300"></i>
					  </div>
					</div>
				  </div>
				</div>
			  </div>

			  <div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
				  <div class="card-body">
					<div class="row no-gutters align-items-center">
					  <div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1" id="header">Remaining Monthly Budget</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800"  id="number">$3000</div>
					  </div>
					  <div class="col-auto">
						<i class="fas fa-hand-holding-usd fa-2x text-gray-300"></i>
					  </div>
					</div>
				  </div>
				</div>
			  </div>

			  <div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-danger shadow h-100 py-2">
				  <div class="card-body">
					<div class="row no-gutters align-items-center">
					  <div class="col mr-2">
						<div class="text-xs font-weight-bold text-danger text-uppercase mb-1" id="header">Monthly Expenses</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800"  id="number">$1500</div>
					  </div>
					  <div class="col-auto">
						<i class="fas fa-user-minus fa-2x text-gray-300"></i>
					  </div>
					</div>
				  </div>
				</div>
			  </div>

			  <div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
				  <div class="card-body">
					<div class="row no-gutters align-items-center">
					  <div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1" id="header">Monthly Savings</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800" id="number">$500</div>
					  </div>
					  <div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			
		</div>
		<br>
		<br>
	</div>
</div>

<mat-tab-group mat-align-tabs="center" class="plotting">
	
	<mat-tab style="background-color: white;">
	  <ng-template mat-tab-label class="label">
		Budget
	  </ng-template>
	  <br>
		<br>
	  <budget></budget>
	</mat-tab>    
  
	<mat-tab style="background-color: white;">
	  <ng-template mat-tab-label class="label">
		Expenses
	  </ng-template>
	  <br>
		<br>
	  <expense></expense>
	</mat-tab>
  
	<mat-tab style="background-color: white;">
	  <ng-template mat-tab-label class="label">
		Savings
	  </ng-template>
	  <br>
		<br>
	  <savings></savings>
	</mat-tab>
</mat-tab-group>

<Footer></Footer>