<header></header>
<div class="main-content animate__animated animate__zoomIn" >
	
	<div  class="container-fluid" style="margin-bottom:-38px">
		<h4 style="color: #5A5C69;">&nbsp;</h4>
		<div class="row" style="padding-top: 1px;margin-top: 50px;">
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
				  <div class="card-body">
					<div class="row no-gutters align-items-center">
					  <div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1" id="header">Total Budget</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800" id="number">$
						<input type="number" (change)="updateBudget()" class="h5 mb-0 font-weight-bold text-gray-800 inputShape" id="newBudget" value={{tBudget.toFixed(2)}}>
					</div>
					</div>
					  <div class="col-auto">
						<i class="fas fa-wallet fa-2x text-gray-300"></i>
					  </div>
					</div>
				  </div>
				</div>
			  </div>

			  <div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
				  <div class="card-body">
					<div class="row no-gutters align-items-center">
					  <div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1" id="header">Remaining Monthly Budget</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800"  id="number">{{'$ ' + rBudget.toFixed(2)}}</div>
					  </div>
					  <div class="col-auto">
						<i class="fas fa-hand-holding-usd fa-2x text-gray-300"></i>
					  </div>
					</div>
				  </div>
				</div>
			  </div>

			  <div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-danger shadow h-100 py-2">
				  <div class="card-body">
					<div class="row no-gutters align-items-center">
					  <div class="col mr-2">
						<div class="text-xs font-weight-bold text-danger text-uppercase mb-1" id="header">Monthly Expenses</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800"  id="number">{{'$ ' + mExpenses.toFixed(2)}}</div>
					  </div>
					  <div class="col-auto">
						<i class="fas fa-user-minus fa-2x text-gray-300"></i>
					  </div>
					</div>
				  </div>
				</div>
			  </div>

			  <div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
				  <div class="card-body">
					<div class="row no-gutters align-items-center">
					  <div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1" id="header">Monthly Savings</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800" id="number">{{'$ ' + mSavings.toFixed(2)}}</div>
					  </div>
					  <div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			
		</div>
		<br>
		<br>
	</div>
</div>

<!-- <div *ngIf="budgetClicked">
	<budget></budget>
</div>
<div *ngIf="expenseClicked">
	<expense></expense>
</div>
<div *ngIf="savingsClicked">
	<savings></savings>
</div> -->

<mat-tab-group mat-align-tabs="center" class="plotting" (selectedTabChange) = "onClickTab()">
	
	<mat-tab style="background-color: #212529;">
	  <ng-template mat-tab-label class="label">
		<strong>Budget</strong>
	  </ng-template>
	  <br>
		<br>
	  <budget></budget>
	</mat-tab>    
  
	<mat-tab style="background-color: #212529;">
	  <ng-template mat-tab-label class="label">
		<strong>Expenses</strong>
	  </ng-template>
	  <br>
		<br>
	  <expense></expense>
	</mat-tab>
  
	<mat-tab style="background-color: #212529;">
	  <ng-template mat-tab-label class="label">
		<strong>Savings</strong>
	  </ng-template>
	  <br>
		<br>
	  <savings></savings>
	</mat-tab>
</mat-tab-group>

<Footer></Footer>