
 <div style="overflow: hidden; padding-bottom: 5%;">
	<div style="padding-bottom: 2%;">
		<div class="alert alert-primary" *ngIf="false" role="alert">This is a primary alert—check it out!</div>
		<div class="alert alert-secondary" *ngIf="false" role="alert">This is a secondary alert—check it out!</div>
		<div class="alert alert-success" *ngIf="false" role="alert">This is a success alert—check it out!</div>
		<div class="alert alert-danger" *ngIf="false" role="alert">This is a danger alert—check it out!</div>
		<div class="alert alert-warning" *ngIf="false" role="alert">This is a warning alert—check it out!</div>
		<div class="alert alert-info" *ngIf="true" role="alert">On average, you fullfilled 80% of your budget per month.</div>
		<div class="alert alert-light" *ngIf="false" role="alert">This is a light alert—check it out!</div>
		<div class="alert alert-dark" *ngIf="false" role="alert">This is a dark alert—check it out!</div>
	</div>

	<mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'5%'">
		<mat-grid-tile>
			<div class="card-header">
				<h2>Budget Overview</h2>
				<!-- <div style="display: block">
					<canvas baseChart
					[datasets]="barChartData"
					[labels]="barChartLabels"
					[options]="barChartOptions"
					[legend]="barChartLegend"
					[chartType]="barChartType">
					</canvas>
				</div>
				<button mat-button mat-raised-button color="primary" (click)="update()">Update</button> -->
				<p-chart type="bar" [data]="data"></p-chart>
			</div>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-card class="card-header">
				<h2>Financial Goals</h2>
				<financial-goals></financial-goals>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-card class="card-header">
				<h2>Budget Breakdown</h2>
					<div class="d-flex justify-content-center">
						<div style="display: block">
							<canvas mdbChart
								[chartType]="chartType"
								[datasets]="chartDatasets"
								[labels]="chartLabels"
								[colors]="chartColors"
								[options]="chartOptions"
								[legend]="true"
								(chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)">
							</canvas>
						</div>
				  	</div>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-card class="card-header">
				<h2>Budget Table</h2>
					<!-- <mat-table #table [dataSource]="dataSource">
				
						<ng-container matColumnDef="position">
							<mat-header-cell *matHeaderCellDef></mat-header-cell>
							<mat-cell *matCellDef="let element"></mat-cell>
						</ng-container>
				
						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
							<mat-cell *matCellDef="let element">
								<mat-form-field floatLabel="never">
									<input matInput placeholder="Name" [value]="element.name" [(ngModel)]="element.name">
								</mat-form-field>
							</mat-cell>
						</ng-container>
				
						<ng-container matColumnDef="weight">
							<mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
							<mat-cell *matCellDef="let element">
								<mat-form-field floatLabel="never">
									<input matInput placeholder="weight" [value]="element.weight" [(ngModel)]="element.weight">
								</mat-form-field>
							</mat-cell>
						</ng-container>
				
						
						<ng-container matColumnDef="symbol">
							<mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
							<mat-cell *matCellDef="let element">
								<mat-form-field floatLabel="never">
									<input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
								</mat-form-field>
							</mat-cell>
						</ng-container>
				
						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					</mat-table> -->
					<div id="table" class="table-editable">
						<table class="table table-striped table-responsive-md btn-table">
							<tr>
								<th class="text-center">Date</th>
								<th class="text-center">Name</th>
								<th class="text-center">Price</th>
								<span class="table-add float-right mb-3 mr-2">
									<a class="text-success" (click)="add()">
									  <mdb-icon fas icon="plus" size="2x"></mdb-icon>
									</a>
								</span>
							</tr>
							<tr *ngFor="let person of personList; let id = index">
								<td>
								  <span (keyup)="changeValue(id, 'date', $event)" (blur)="updateList(id, 'date', $event)" contenteditable="true">{{person.date}}</span>
								</td>
								<td>
								  <span contenteditable="true" (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)">{{person.name}}</span>
								</td>
								<td>
								  <span contenteditable="true" (keyup)="changeValue(id, 'price', $event)" (blur)="updateList(id, 'price', $event)">{{person.price}}</span>
								</td>
								<td>
								  <span class="table-remove">
									<button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
								  </span>
								</td>
							  </tr>
							
						  </table>
						<!-- <table class="table table-bordered table-responsive-md table-striped text-center">
							<thead>
								<tr>
									<th>Person Name</th>
									<th>Age</th>
									<th>Company Name</th>
									<th>Country</th>
									<th>City</th>
									<th>Sort</th>
									<th>Remove</th>
								</tr>
							</thead>
						  <tr *ngFor="let person of personList; let id = index">
							<td>
							  <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
							</td>
							<td>
							  <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
							</td>
							<td>
							  <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
							</td>
							<td>
							  <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
							</td>
							<td>
							  <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
							</td>
							<td>
							  <span class="table-up">
								<a class="indigo-text">
								  <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon>
								</a>
							  </span>
							  <span class="table-down">
								<a class="indigo-text">
								  <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon>
								</a>
							  </span>
							</td>
							<td>
							  <span class="table-remove">
								<button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
							  </span>
							</td>
						  </tr>
						</table> -->
					</div>
			</mat-card>
		</mat-grid-tile>
	  </mat-grid-list>
</div>