/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 750px;
  }

.card-header {
  border-radius: .35rem;
  color: #4e73df;
  padding: 10px;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}